.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #282c34;
  width: 100%;
  height: 100vh;
  position: relative;
}

.radical{
  color: white;
  position: absolute;
  font-size: 40vh;
  cursor: default;
}

input{
  background: none;
  border: 1px white solid;
  border-radius: 8px;
  color: white;
}

button{
  background: grey;
  border: none;
  color: white;
  padding: 8px;
}

.number{
  position: absolute;
  right: 15vw;
  font-size: 4rem;
  width: 24%;
}

.index{
  position: absolute;
  left: 15vw;
  height: 2rem;
}

.position{
  position: absolute;
  top: 10%;
}

h1{
  color: white;
  position: absolute;
  bottom: 5%;
}
